@font-face {
    font-family: "ClashDisplay";
    src:
        url(../fonts/ClashDisplay/ClashDisplay-Variable.ttf) format("truetype"),
        url(../fonts/ClashDisplay/ClashDisplay-Variable.woff) format("woff"),
        url(../fonts/ClashDisplay/ClashDisplay-Variable.woff2) format("woff2");
    ;
    font-display: swap;
}


@font-face {
    font-family:"Metropolitano";
    src:
        url(../fonts/Metropolitano/Metropolitan.ttf) format("truetype"),
        url(../fonts/Metropolitano/Metropolitan.woff) format("woff"),
        ;
    font-display: swap;
}


*{
    font-family: "Metropolitano", sans-serif;
}
